---
import BasicLayout from '../../layouts/BasicLayout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const allposts = await getCollection('blog');

const posts = allposts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const tags = ["all", ...new Set(allposts.map((post) => post.data.tags).flat())];
---

<BasicLayout>
  <section class="bg-[#0f0f0f] min-h-screen px-6 py-16 text-white">
    <div class="max-w-6xl mx-auto">
      <h1 class="text-4xl font-bold text-center mb-12">Mes réalisations</h1>

      <ul class="flex flex-wrap justify-center gap-4 mb-12">
        {tags.map((tag) => (
          <li>
            <button class="bg-[#1a1a1a] hover:bg-[#272727] text-sm px-4 py-2 rounded-full transition">
              {tag}
            </button>
          </li>
        ))}
      </ul>

      <ul class="grid gap-10 sm:grid-cols-2 lg:grid-cols-3">
        {posts.map((post) => (
          <li class="bg-[#1a1a1a] rounded-2xl shadow-lg hover:shadow-xl transition overflow-hidden">
            <a href={`/blog/${post.id}/`} class="block h-full">
              <img 
                src={post.data.heroImage} 
                alt={`Image de ${post.data.title}`} 
                class="w-full h-48 object-cover"
              />
              <div class="p-5 flex flex-col gap-2">
                <h4 class="text-xl font-semibold">{post.data.title}</h4>
                <p class="text-sm text-gray-400">
                  <FormattedDate date={post.data.pubDate} />
                </p>
                <p class="text-gray-300 text-sm">{post.data.description}</p>
              </div>
            </a>
          </li>
        ))}
      </ul>
    </div>
  </section>
</BasicLayout>
